* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

#pdf_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow: auto;
}
